.modal-dialog {
    height: 95% !important;
    overflow-y: initial !important
  }

  /* Important part */
  .modal-body{
      height: 80vh;
      overflow-y: auto; 
  }
  
  .modal-content {
    height: auto;
    min-height: 95%;
  }

#modal-embed-content {
    height: 100% !important;
    width: 100% !important;
}