{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block css %}
{% endblock %}

{% block content %}

<div class="jumbotron mt-3">
    <h1 class="display-4 text-center">Tabela FIPE</h1>
    <p class="lead text-justify">A Tabela Fipe expressa preços médios de veículos no mercado nacional, servindo apenas como um parâmetro para negociações ou avaliações. Os preços efetivamente praticados variam em função da região, conservação, cor, acessórios ou qualquer outro fator que possa influenciar as condições de oferta e procura por um veículo específico.</p>
    <hr class="my-4">
    <form action="" method="get">

        <!-- Marcas -->
        <div class="form-group">
            <label for="marca">Marcas</label>
            <select class="form-control" id="marca" name="marca">
                <option></option>
            </select>
        </div>

        <!-- Modelos -->
        <div class="form-group">
            <label for="modelo">Modelos</label>
            <select class="form-control" id="modelo" name="modelo">
                <option></option>
            </select>
        </div>

        <!-- Anos -->
        <div class="form-group">
            <label for="ano">Anos</label>
            <select class="form-control" id="ano" name="ano">
                <option></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary float-right">Pesquisar</button>
    </form>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}